/* 
    CORES USADAS 

roxo #5229da
preto

*/

/* VARIAVEIS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #5229da;
}

/* GERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

html{
    height: 500vh;
}

body{
   background:  #1a1822;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}
/* HEADER */

header{
    width: 100%;
    padding: 3rem 4%;
    position: fixed;
    transition: .8s;
    text-align: center;
    z-index: 3;
}

header.rolagem{
    background-color: var(--main-color);
    padding: 1.5rem 4%;
    box-shadow: 0 5px 12px rgba(53, 33, 79, 0.9);
}

header.rolagem a{
    color: #fff;
}

header li{
    display: inline-block;
    margin: 0 2.5rem;
}

header a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: 1rem;
}

header a:hover{
    color: #9d9d9d;
}

/* BANNER */

.banner{
    position: relative;
    height: 100vh;
    background-image: url(../img/banner.jpg); 
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; 
}

#name,
#title,
.description {
    position: relative;
    z-index: 2;
    
}

#name {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

#title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .description {
    max-width: 95%;
    margin-bottom: .6rem;
    font-size: 1.1rem;
    color: #fff;
}

.highlight {
    color: var(--main-color);
  }

#name,
#title,
.description{
    color: #dcdcdc;
}

/* container card */
.container-card{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 140px 50px;
    padding: 140px 50px;
}

.container-card .custom-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    max-width: 90%;
    height: 300px;
    background: #ffffff;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
}

.container-card .custom-card:hover{
    height: 370px;
}

.container-card .custom-card .img-box{
    position: absolute;
    top: 20px;
    width: 350px;
    height: 218px;
    background: #333;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.container-card .custom-card:hover .img-box{
    top: -120px;
    scale: 0.98;
    box-shadow: 0 15px 45px rgba rgba(0, 0, 0, 0.2);
}

.container-card .custom-card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-card .custom-card .custom-content{
    position: absolute;
    top: 245px;
    width: 100%;
    height: 29px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container-card .custom-card:hover .custom-content{
    top: 110px;
    height: 250px;
}

.container-card .custom-card .custom-content h2{
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
}

.container-card .custom-card .custom-content p{
    color: #333;
    margin-bottom: 10px;
}

.container-card .custom-card .custom-content a{
    position:relative;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #5229da;
    color: #fff;
    font-weight: 500;
}

.container-card .custom-card .custom-content a:hover{
    opacity: 0.8;
}




