/* 
    CORES USADAS 

#462e4f
#c4a9ba
#93788f
#a387ac
#a494a4


/* GERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

html{
    height: 500vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
   top: 0;
   left: 0;
   transition: .8s;
}

header h2{
    color: #fff;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, 
header.rolagem i,
header.rolagem h2{
    color: #ab49cc;
}

header i{
   font-size: 16px;
   color: #fff; 
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
}

header a:hover{
    color: #dcdcdc;
}

.banner{
    height: 100vh;
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
}

.banner h1 span{
    color: #ab49cc;
}