/* 
    CORES USADAS 

#462e4f
#c4a9ba
#93788f
#a387ac
#a494a4

*/

/* VARIAVEIS */
:root{
    --main-color: #a54afa;
}

/* GERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

html{
    height: 500vh;
}
/* HEADER */

header{
    width: 100%;
    padding: 50px 4%;
    position: fixed;
    transition: .8s;
    text-align: center;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a{
    color: #a54afa;
}

header li{
    display: inline-block;
    margin: 0 40px;
}

header a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
}

header a:hover{
    color: #a54afa;
}

/* BANNER */

.banner{
    height: 100vh;
    background-image: url(../img/banner.jpg); 
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    font-size: 42px;
    margin-bottom: 15px;
}

#title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .description {
    max-width: 95%;
    margin-bottom: 10px;
    font-size: 17px;
}

.highlight {
    color: var(--main-color);
  }

#name,
#title,
.description{
    color: #dcdcdc;
}